In [5]:


# === CONFIGURACIÓN INICIAL ===

import numpy as np
import pandas as pd

import sys
import os
ruta_raiz = os.path.dirname(os.path.dirname(os.path.abspath('.')))
sys.path.insert(0, ruta_raiz)

# Imports estándar
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Imports del proyecto
# from src.features.engineering import crear_features
# from src.utils.visualization import plot_distribucion

# Importar funciones del proyecto (separar con comas cada funcion a importar)
from src.data.preprocessing import (
    verificar_columna_numerica,
    verificar_multiples_columnas
)


# Configuración de visualización
%matplotlib inline
sns.set_style('whitegrid')
pd.set_option('display.max_columns', None)

print("✓ Configuración completada")

✓ Configuración completada

En este notebook se hara todo el proceso para crear una base de datos 
general con todas las variable explicativas que nuego pasaran  
a implementacion de modelos de aprendizaje

In [32]:
#Datos limpios de estudiates con historial de maricula, repeticiones y promedios por periodo academico matriculado.

data_est_clean = pd.read_csv('/home/alexander/Escritorio/desercion-universitaria/data/raw/Datos_limpios_estudiantes.csv') 
data_est_clean.head()

,APELLIDOS_NOMBRES,IDENTIFICACION,CODIGO,PERIODO,NUM_PERIODOS,MATERIAS,CREDITOS_MATRICULADOS,APROBADAS,CREDITOS_APROBADOS,PERDIDAS,R1,R2,R3,R3_BALANCEO,PROMEDIO
0,ACHINTE MARTINEZ JULIETH ALEXANDRA,1002958067,106217020643,2017.2,NaN,4,14,2,6,2,0,0,0,0.0,2.975
1,ACHIPIZ QUINA YOHN EDWAR,1061709826,62082037,2008.2,NaN,4,14,3,10,1,0,0,0,0.0,3.300
2,ACHIPIZ QUINA YOHN EDWAR,1061709826,62082037,2009.1,NaN,5,15,5,15,0,1,0,0,0.0,3.425
3,ACHIPIZ QUINA YOHN EDWAR,1061709826,62082037,2009.2,NaN,4,16,2,8,2,0,0,0,0.0,2.875
4,ACHIPIZ QUINA YOHN EDWAR,1061709826,62082037,2010.1,NaN,4,16,3,12,1,2,0,0,0.0,3.200

1. verificacion de formatos y valores de los datos por columnas.

In [30]:
import pandas as pd
import numpy as np

def verificar_datos_numericos(df, desde_columna = 1):
    """
    Verifica si las columnas de un DataFrame son numéricas,
    comenzando desde la columna indicada (por defecto, la segunda).
    Si encuentra valores no numéricos o faltantes, muestra su ubicación exacta.
    """
    print("=== Verificación de datos no numéricos y faltantes ===\n")

    errores = []
    faltantes_info = []

    for col in df.columns[desde_columna:]:
        # Intentar convertir a numérico (sin modificar el original)
        serie_numerica = pd.to_numeric(df[col], errors='coerce')

        # --- Detectar valores no numéricos ---
        no_numericos = df[col][serie_numerica.isna() & df[col].notna()]
        if len(no_numericos) > 0:
            print(f"⚠️ Columna '{col}' contiene valores no numéricos:")
            for idx, val in no_numericos.items():
                print(f"   → Fila {idx}, Valor: '{val}'")
                errores.append((idx, col, val))
            print()

        # --- Detectar valores faltantes ---
        faltantes = df[col][df[col].isna()]
        if len(faltantes) > 0:
            print(f"🔹 Columna '{col}' tiene {len(faltantes)} valores faltantes:")
            for idx in faltantes.index:
                print(f"   → Fila {idx} (vacío o NaN)")
                faltantes_info.append((idx, col))
            print()

    # --- Resumen ---
    if not errores:
        print("✅ No se encontraron valores no numéricos.")
    else:
        print(f"Se encontraron {len(errores)} valores no numéricos en total.")

    if not faltantes_info:
        print("✅ No se encontraron valores faltantes.")
    else:
        print(f"Se encontraron {len(faltantes_info)} valores faltantes en total.")

    return errores, faltantes_info

In [31]:
verificar_datos_numericos(data_est_clean, desde_columna = 1)

=== Verificación de datos no numéricos y faltantes ===

✅ No se encontraron valores no numéricos.
✅ No se encontraron valores faltantes.

([], [])

In [ ]:
import pandas as pd 
import numpy as np 
import seaborn as sns